<div class='container'>
<%= render 'shared/header' %>
  <div class='content'>
    <%= render 'shared/sidebar' %>

    <h1>Edit blog</h1>

    <%= render 'form' %>

    <%= link_to 'Back', blogs_path %>
  </div>
</div>
