<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <h1>Baked Potatoes</h1>
    <p>
      Description:
    </p>
    <p>

    </p>

    <p>
      Ingredients:
    </p>
    <ul>
      <li> Which pages are being viewed </li>
    </ul>

    <p>
      Method:
    </p>
    <ul>
      <li> Who you are </li>
    </ul>
  </div>
  <%= render 'shared/footer' %>
</div>
