<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <div class='picture'>
      <div class="polaroid">
        <%= image_tag('chocolate cake.png', :alt => 'Chocolate Cake') %>
        <div class="polaroid_container">
          <p>Chocolate Cake</p>
        </div>
      </div>
    </div>

    <div class='description'>
      <ul>
        <li>
          <a>
            <h2>Description:</h2>
            <p>
              Indulge yourself with this heavenly chocolate cake recipe that is
              beautifully moist, rich and fudgy. Perfect for a celebration or
              an afternoon tea
            </p>
          </a>
        </li>
      </ul>
    </div>

    <div class='ingredient'>
      <p>
        Ingredients:
      </p>
      <ul>
        <li> 200g golden caster sugar </li>
        <li> 200g unsalted butter </li>
        <li> 4 large eggs </li>
        <li> 200g self-raising flour </li>
        <li> 2 tbsp cocoa powder </li>
        <li> 1 tsp baking powder </li>
        <li> ½ tsp vanilla extract </li>
        <li> 2 tbsp milk </li>
      </ul>
    </div>

    <div class='method'>
      <p>
        Method:
      </p>
      <ol>
        <li>
          Heat oven to 190C/170C fan/gas 5. Butter the base and sides of two
          20cm round sandwich tins and line the bases with baking parchment.
        </li>
      </ol>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
