<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <div class="polaroid">
      <%= image_tag('chocolate cake.png', :alt => 'Chocolate Cake') %>
      <div class="polaroid_container">
        <p>Chocolate Cake</p>
      </div>
    </div>

    <div class='description'>
      <p>
        Description:
      </p>
      <p>
        Indulge yourself with this heavenly chocolate cake recipe that is beautifully moist, rich and fudgy. Perfect for a celebration or an afternoon tea
      </p>
    </div>

    <div class='IngredientMethod'>
      <p>
        Ingredients:
      </p>
      <ul>
        <li> Which pages are being viewed </li>
      </ul>

      <p>
        Method:
      </p>
      <ul>
        <li> Who you are </li>
      </ul>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
