<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('chocolate cake.png', :alt => 'Chocolate Cake') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Chocolate Cake
          </p>
          <p>
            <%= link_to "Miriam Nice - BBC Good Food",
            "https://www.bbcgoodfood.com/recipes/easy-chocolate-cake",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                Indulge yourself with this heavenly chocolate cake recipe that is
                beautifully moist, rich and fudgy. Perfect for a celebration or
                an afternoon tea
              </p>
              <p>
                Prep: 35min
                Cook: 20min
              </p>
            </a>
          </li>
        </ul>
      </div>
      
      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> 200g golden caster sugar </li>
                <li> 200g unsalted butter </li>
                <li> 4 large eggs </li>
                <li> 200g self-raising flour </li>
                <li> 2 tbsp cocoa powder </li>
                <li> 1 tsp baking powder </li>
                <li> ½ tsp vanilla extract </li>
                <li> 2 tbsp milk </li>
                <li> 100g milk chocolate, chopped </li>
                <li> 200g butter, softened </li>
                <li> 400g icing sugar </li>
                <li> 5 tbsp cocoa powder </li>
                <li> 2 tbsp milk </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Heat oven to 190C/170C fan/gas 5. Butter the base and sides of two
            20cm round sandwich tins and line the bases with baking parchment.
          </p>
          <p>
            In a large bowl, beat together 200g golden caster sugar, 200g
            softened unsalted butter, 4 large eggs, 200g self-raising flour,
            2 tbsp cocoa powder, 1 tsp baking powder, ½ tsp vanilla extract,
            2 tbsp milk and a pinch of salt until pale.
          </p>
          <p>
            Divide the mixture between the prepared tins. Bake for 20 mins or
            until a skewer inserted into the centre of the cake comes out clean.
          </p>
          <p>
            Leave to cool in the tin for 10 mins, then turn out onto a wire
            rack to cool completely.
          </p>
          <p>
            For the buttercream, put 100g chopped milk chocolate in a heatproof
            bowl and melt in the microwave, stirring every 30 secs. Leave the
            melted chocolate to cool for 5 mins.
          </p>
          <p>
            Mash 200g softened butter and 400g icing sugar together with a
            fork, then switch to a wooden spoon or electric beaters, if you
            have them.
          </p>
          <p>
            Sift in 5 tbsp cocoa powder with a pinch of salt and pour in the
            melted chocolate and 2 tbsp milk. Mix again until smooth.
          </p>
          <p>
            On a cake stand or large plate, sandwich the cakes together with
            half of the buttercream, then spread the rest on top. Decorate
            with chocolate shards, if you like.
          </p>
          <p>
            To make chocolate shards: melt 50g dark chocolate and pour it onto
            a tray lined with baking parchment or foil.
          </p>
          <p>
            Now melt 25g milk chocolate and 25g white chocolate and drizzle
            them over the dark chocolate before it sets.
          </p>
          <p>
            Shake the tray gently to level the mixture then leave to set
            somewhere cool. Chop into shards.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
