<div class='footer'>
  <div class='footer_body'>
    <%= link_to 'Privacy Policy.', legal_privacy_policy_url, :class=> 'page_words' %>
    <%= link_to 'Terms of Use.', legal_terms_of_use_url, :class=> 'page_words' %>
  </div>
</div>
