<div class='footer'>
  <div class='content'>
    <%= link_to 'Privacy Policy.', root_path, :class=> 'page_words' %>
    <%= link_to 'Terms of Use.', root_path, :class=> 'page_words' %>
  </div>
</div>
