<div class='footer'>
  <div class='footer_body'>
    <%= link_to 'Privacy Policy.', about_index_url, :class=> 'page_words' %>
    <%= link_to 'Terms of Use.', about_index_url, :class=> 'page_words' %>
  </div>
</div>
