<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <h1>Privacy Policy</h1>
    <p>
      This website is being used to test a new Ruby gem that collects information about the website. No information is being collected
      about the visitors (you) so all your personal data and information is where you left it (providing you didn't click on any
      dodgy links before you got here).
    </p>

    <p>
      The information about the website that is being gathered is:
    </p>
    <ul>
      <li> Which pages are being viewed </li>
      <li> Which links are being clicked </li>
      <li> How long the pages are being viewed </li>
      <li> What time the pages/links are visited </li>
    </ul>
    <p>
      Information not being gathered is:
    </p>
    <ul>
      <li> Who you are </li>
      <li> Your IP addresse </li>
      <li> Any personal information about you </li>
      <li> No cookies are used so no personal information about you or your browser is recorded </li>
    </ul>
    <div class="push"></div>
  </div>
  <%= render 'shared/footer' %>
</div>
