<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <h1>Terms Of Use</h1>
    <p>
      Please play nice, bit of a circle of trust going on here
    </p>
  </div>
  <%= render 'shared/footer' %>
</div>
