<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <h1>Contacts</h1>

    <div class='contentText'>
      <p>
        All by myself
      </p>
      <p>
        Don't wanna be
      </p>
      <p>
        All by myself
      </p>
      <p>
        Anymore
      </p>

      <p>
        Yeahhh... so it's just me here by myself I'll direct you
        <%= link_to "here",
        "https://github.com/willllewellyn/Generic-Food-Blog",
        :target => "_blank" %>
        for any questions you might want to ask. 
      </p>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
