.row .col-75 {
  width: 80%;
  padding-right: 15px;

  .commentName {
    width: 30%;
  }

  .commentInput {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .content .col-75 .commentName {
    width: 100%;
  }
}
