h1 {
  font-size: 400px;
}

.light-table-filter {
  width: 30%;
  // float: right;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #dddddd;
  margin-bottom: 12px;
}

table {
  border-collapse: collapse;

  thead, th, td  {
    border-bottom: 1px solid #dddddd;
  }

  th {
    background-color: #ffffff;
    color: #76d7c4;
  }

  th, td {
      text-align: left;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 40px;
  }

  tr:hover {
    transition-duration: 0.2s;
    background-color: #dddddd;
  }
}

@media only screen and (max-width: 760px),
(min-width: 768px) and (max-width: 1024px)  {
  table { width: 100%; }

	table, thead, tbody, th, td, tr {
		display: block;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #cccccc; }

	td {
		border: none;
		border-bottom: 1px solid #eeeeee;
		position: relative;
		padding-left: 45% !important;
	}

	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 55%;
		padding-right: 10px;
		white-space: nowrap;
	}

	td:nth-of-type(1):before { content: "Title"; }
	td:nth-of-type(2):before { content: "Text"; }
}
