@import "bootstrap-sprockets";
@import "bootstrap";

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 0.8em;
  line-height: 1.7em;
}

ul li {
  font-size: 0.8em;
  line-height: 1.4em;
}

td {
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

tr {
  padding: 5px;
}

th {
  padding-right: 15px;
}

table {
  padding-top: 30px;
}

html {
  height: 93%;
  position:relative;
}

body {
  background-color: #d1f2eb;
  height: 93%;
  font-size: 22px;
  line-height: 32px;
  word-wrap:break-word !important;
  font-family: 'Open Sans', sans-serif;
}

.container {
  background-color: #ffffff;
  min-height: 93%;
  margin: 55px 35px 0px 35px;
  padding-left: 0px;
  padding-right: 0px;
}

.body {
  padding: 15px;
  max-height: 100%;
  font-size: 18px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .container {
    width: auto;
  }
}
