div.polaroid {
  width: 90%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;

}

div.polaroid_container {
  text-align: center;
  padding: 10px 20px;
}

img { width: 100% }

.picture {
  float: left;
  width: 35%;
}

.description {
  float: left;
  width: 35%;
  max-width: 430px;

  *{
    margin:0;
    padding:0;
  }
  body{
    font-family:arial,sans-serif;
    font-size:100%;
    margin:3em;
    background:#666;
    color:#fff;
  }
  h2,p{
    font-size:100%;
    font-weight:normal;
  }
  ul,li{
    list-style:none;
  }
  ul{
    overflow:hidden;
    padding: 0.5em;
    margin: 0px;
  }
  ul li{
    margin:1em;
    float:left;
  }
  ul li h2{
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
  }
  ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -webkit-transform:rotate(-1.5deg);
    -o-transform:rotate(-1.5deg);
    -moz-transform:rotate(-1.5deg);
  }
}

.ingredient {
  float: left;
  width: 30%;
}

.method {
  float: left;
  width: 50%;
  max-width: 500px;

  ol {
  	counter-reset:li; /* Initiate a counter */
  	margin-left:0; /* Remove the default left margin */
  	padding-left:0; /* Remove the default left padding */
  }
  ol > li {
  	position:relative; /* Create a positioning context */
  	margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
  	padding:4px 8px; /* Add some spacing around the content */
  	list-style:none; /* Disable the normal item numbering */
  	border-top:2px solid #666;
  	background:#f6f6f6;
  }
  ol > li:before {
  	content:counter(li); /* Use the counter as content */
  	counter-increment:li; /* Increment the counter by 1 */
  	/* Position and style the number */
  	position:absolute;
  	top:-2px;
  	left:-2em;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
  	box-sizing:border-box;
  	width:2em;
  	/* Some space between the number and the content in browsers that support
  	   generated content but not positioning it (Camino 2 is one example) */
  	margin-right:8px;
  	padding:4px;
  	border-top:2px solid #666;
  	color:#fff;
  	background:#666;
  	font-weight:bold;
  	font-family:"Helvetica Neue", Arial, sans-serif;
  	text-align:center;
  }
  li ol,
  li ul {margin-top:6px;}
  ol ol li:last-child {margin-bottom:0;}
}

@media only screen and (max-width: 768px) {
  .picture {
    width: 100%;

    .polaroid {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .description {
    width: 100%;
  }

  .ingredient {
    width: 100%;
  }

  .method {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .picture {
    width: 50%;
  }

  .description {
    width: 50%;
  }

  .ingredient {
    width: 50%;
  }

  .method {
    width: 50%;
  }
}
